# FORMAS DE ENDERECO DA API
# Emulador (android): http://10.0.2.2:{porta}
# IOS Simulator / Web: http://localhost:{porta}
# App Expo: http://{IPDAMAQUINA}:{PORTA}

EXPO_PUBLIC_API=http://10.0.2.2:{PORTA}
                # o mobile nao utiliza um ip exatamente, mas sim um numero especifico, e a porta precisa ser http